<div class="container profile-container css-2s1366">
  <div class="row edit-profile">
    <div class="col-sm-12 col-md-3">
      <h3><%= link_to "Edit Profile", edit_user_path(current_user) %></h3>
      <h3><%= link_to "Edit Account Settings", edit_user_registration_path %></h3>
    </div>
    <div class="col-md-9">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <br>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <%= f.label :email, "Email", :class => 'name' %>
        </div>
        <div class="col-sm-12 col-md-4">
          <%= f.email_field :email, :class => 'user-bio form' %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
        <% end %>
      </div>
      <br>
      <p><i>Change Password</i></p>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <%= f.label :current_password, "Old Password", :class => 'name' %>
        </div>
        <div class="col-sm-12 col-md-4">
          <%= f.password_field :current_password, autocomplete: "off", :class => 'user-bio form' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <%= f.label :password, "New Password", :class => 'name' %>
        </div>
        <div class="col-sm-12 col-md-4">
          <%= f.password_field :password, autocomplete: "off", placeholder: "6 characters minimum", :class => 'user-bio form' %>
          <% if @minimum_password_length %>
          <br/>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <%= f.label :password_confirmation, "Confirm New Password", :class => 'name' %>
        </div>
        <div class="col-sm-12 col-md-4">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "6 characters minimum", :class => 'user-bio form' %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="actions">
          <%= f.submit "Save", :class => 'btn btn-default btn-block' %>
          <% end %>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 destroy-acct">
          <p><%= button_to "Deactivate my account", registration_path(resource_name), data: { confirm: "Are you sure? Deactivating your account will delete your profile and all your projects." }, method: :delete %></p>
        </div>
      </div>
    </div>
  </div>
</div>



