<h2> This project has <%= pluralize(@comments.count, "Comment")%></h2>
<%= if user.signed_in? %>
  <%= render 'comments/form'  %>
<% end %>

<ul style="display: inline; list-style: none;">
    <li>
    <% @comments.each do |comment| %>
    <% if comment.user.first_name.nil? %>
    <p>
      <span id="commentuser"><%=comment.user.email %></span> &nbsp;<%= comment.content %>
      <br>
      <span class="commentedits"><%= link_to "Edit", edit_project_comment_path(comment.project, comment) %></span>
      <span class="commentedits"><%= link_to "Delete", [comment.project, comment], method: :delete %></span>
      <br>
    </p>
    <% else %>
    <p>
      <span id="commentuser"><%=comment.user.first_name %></span> &nbsp;<%= comment.content %>
      <br>
      <span class="commentedits"><%= link_to "Edit", edit_project_comment_path(comment.project, comment) %>
      </span>
      <span class="commentedits"><%= link_to "Delete", [comment.project, comment], method: :delete %></span>
      <br>
    </p>
    <% end %>
    </li>
    <% end %>
</ul>


