<%= render 'comments/form'  %>
<br>
<% @comments.each do |comment| %>
  <% if comment.user.first_name.nil? %>
    <p><b><%=comment.user.email %></b></p>
  <% else %>
  <p><b><%=comment.user.first_name%></b></p>
    <% end %>
  <%= comment.content %>
  <% if current_user == comment.user %>
      <ul>
        <p><%= link_to "Edit", edit_project_comment_path(comment.project, comment) %></p>
        <p><%= link_to "Delete", [comment.project, comment], method: :delete %></p>
      </ul>
  <% end %>

<% end %>

