<% if user_signed_in? %>
    <% if @comments.count >= 1 %>
        <h4> This project has <%= pluralize(@comments.count, "comment")%></h4>
      <% else %>
        <h4> Be the first to comment!</h4>
    <% end %>
      <%= render 'comments/form'  %>
<% else %>
    <h4>
      <%= link_to "Sign In to Leave Comment!", new_user_session_path %>
    </h4>
<% end %>


<ul class="scrolling-comments">
    <li>
    <% @comments.each do |comment| %>
    <% if comment.user.first_name.nil? %>
    <p>
      <span id="commentuser"><%=comment.user.email %></span> &nbsp;<%= comment.content %>
      <br>
      <span class="commentedits"><%= link_to "Edit", edit_project_comment_path(comment.project, comment) %></span>
      <span id="comment-delete" class="commentedits"><%= link_to "Delete", [comment.project, comment], method: :delete %></span>
      <br>
    </p>
    <% else %>
    <p>
      <span id="commentuser"><%=comment.user.first_name %></span> &nbsp;<%= comment.content %>
      <br>
      <% if current_user == comment.user %>
          <span id="comment-delete" class="commentedits"><%= link_to "Delete", [comment.project, comment], method: :delete %></span>
          <span id="comment-edit" class="commentedits"><%= link_to "Edit", edit_project_comment_path(comment.project, comment) %>
          </span>
          <br>
      <% end %>
    </p>
    <% end %>
    </li>
    <% end %>
</ul>


