<div class="container mailbox">

<div class="mailbox-users col-xs-3">
  <h3>Mailbox</h3>

  <div class="ui list">
    <div class="item">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <div class="col-xs-12">
            <% if recipient.profile_picture? %>
              <span id="profile-picture"><%= cl_image_tag(recipient.profile_picture, :transformation=>[{:width=>100, :height=>100, :gravity=>"face", :responsive => "true", :dpr =>"auto"}, {:width=>100, :crop=>"scale"}], :secure => 'true')%></span>
          <% else %>
              <span id="profile-picture"><a><img src="http://res.cloudinary.com/anothervu/image/upload/v1524770755/ptamql7tybhqhteeiibq.jpg" class="default-project-show"/></a></span>
          <% end %>
            <%= link_to "#{recipient.email}", conversation_messages_path(conversation), remote: true %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <h3>All Users</h3>
  <div class="ui list">
    <%= form_tag(conversations_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :locate, params[:locate], placeholder: "Search Users" %>
    <% end %>

    <% if params[:locate] %>
      <% @users.each do |user| %>
        <% if user.id != current_user.id %>
        <div class="item">
          <% if user.profile_picture? %>
              <span id="profile-picture"><%= cl_image_tag(user.profile_picture, :transformation=>[{:width=>100, :height=>100, :gravity=>"face", :responsive => "true", :dpr =>"auto"}, {:width=>100, :crop=>"scale"}], :secure => 'true')%></span>
          <% else %>
              <span id="profile-picture"><a><img src="http://res.cloudinary.com/anothervu/image/upload/v1524770755/ptamql7tybhqhteeiibq.jpg" class="default-project-show"/></a></span>
          <% end %>
          <%= user.email %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', remote: true %>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="current_conversation col-xs-9" style="color:black">
</div>
</div>
