<% if current_user.nil? %>
  <nav class="navbar navbar-inverse navbar-fixed-top css-2s1366">
    <div class="container css-2s1366">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "AnotherVU", home_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign In", new_user_session_path %>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-inverse navbar-fixed-top css-2s1366">
    <div class="container css-2s1366">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "AnotherVU", feed_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            Sign Out
            <% end %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to feed_path do %>
            Home
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user) do %>
             Profile
            <% end %>
          </li>
          <li>
            <%= link_to projects_path do %>
              Your Projects
            <% end %>
          </li>

        </ul>
      </div>
    </div>
  </nav>
<% end %>
