<%= form_for @user do |f| %>
  <div class="edit-profile-form">
  <div class="row edit-profile">
  <%= f.label :first_name, "First Name", :class => 'col-sm-12 col-md-12 name' %>
  </div>
  <div class="row">
  <%= f.text_field :first_name, :class => 'user-bio col-sm-10 col-md-6 form'%>
  </div>
  <div class="row">
  <%= f.label :last_name, "Last Name", :class => 'col-sm-12 col-md-12 name'%>
  </div>
  <div class="row">
  <%= f.text_field :last_name, :class => 'user-bio col-sm-10 col-md-6 form'%>
  </div>
  <br>
  <div class="row">
  <%= f.label :biography, "Biography", :class => 'col-sm-12 name' %>

  <%= f.text_area :biography, rows: 5, cols: 30, :class => 'user-bio col-sm-10 col-md-6 form' %>
  </div>
</div>
  <br>
  <div class="row">
  <%= f.submit "Save", :class => 'btn btn-default col-xs-2' %>
<% end %>
</div>

