<%= form_for @user do |f| %>
  <div>

  <div class="row" id="profile-margin">
  <div class="col-xs-12 col-sm-8 col-md-3">
    <%= f.label :first_name, "First Name", :class => 'name' %>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-4">
    <%= f.text_field :first_name, :class => 'user-bio form'%>
    <p style="opacity:.4"><i>(Required)</i></p>
  </div>
  </div>

  <div class="row">
  <div class="col-xs-12 col-sm-8 col-md-3">
    <%= f.label :last_name, "Last Name", :class => 'name'%>
  </div>
    <div class="col-xs-12 col-sm-8 col-md-4">
    <%= f.text_field :last_name, :class => 'user-bio form'%>
  </div>
  </div>
  <br>
  <div class="row">
  <div class="col-xs-12 col-sm-8 col-md-3">
    <div class="field">
      <%= f.check_box :email_show %>
      <%= f.label "Keep email private?" %>
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-12 col-sm-8 col-md-3">
  <%= f.label :website, "Website", :class => 'name'%>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-4">
  <%= f.text_field :website, :class => 'user-bio form'%>
  </div>
  </div>

  <div class="row">
  <div class="col-xs-12 col-sm-8 col-md-3">
  <%= f.label :phone_number, "Phone", :class => 'name' %>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-4">
  <%= f.text_field :phone_number, :class => 'user-bio form' %>
  <p style="opacity:.4"><i>(eg: 123-456-7890 or 123.456.7890)</i></p>
  </div>
  </div>
  <br>
  </div>
  <div class="row">
  <div class="col-xs-12 col-md-3">
  <%= f.label :biography, "Biography", :class => 'name' %>
  </div>
  <div class="col-xs-12 col-md-7">
  <%= f.text_area :biography, rows: 5, cols: 35, :class => 'user-bio form' %>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <%= f.submit "Save", :class => 'btn btn-default btn-block' %>
    <% end %>
    </div>
  </div>











