<%= form_for @user do |f| %>
  <div class="edit-profile-form">

  <div class="row edit-profile" id="profile-margin">
  <div class="col-sm-12 col-md-4">
    <%= f.label :first_name, "First Name", :class => 'name' %>
  </div>
  <div class="col-sm-12 col-md-8">
    <%= f.text_field :first_name, :class => 'user-bio form'%>
  </div>
  </div>

  <div class="row edit-profile">
  <div class="col-sm-12 col-md-4">
    <%= f.label :last_name, "Last Name", :class => 'name'%>
  </div>
    <div class="col-sm-12 col-md-8">
    <%= f.text_field :last_name, :class => 'user-bio form'%>
  </div>
  </div>
  <br>
  <div class="row">
  <div class="col-sm-12 col-md-4">
  <%= f.label :website, "Website", :class => 'name'%>
  </div>
  <div class="col-sm-12 col-md-8">
  <%= f.text_field :website, :class => 'user-bio form'%>
  </div>
</div>

  <div class="row">
  <div class="col-sm-12 col-md-4">
  <%= f.label :phone_number, "Phone", :class => 'name' %>
  </div>
  <div class="col-sm-12 col-md-8">
  <%= f.text_field :phone_number, :class => 'user-bio form' %>
  <p style="opacity:.4"><i>(eg: 123-456-7890 or 123.456.7890)</i></p>
  </div>
  </div>
  </div>
  <br>

  <div>
  <div class="row">
  <div class="col-sm-12 col-md-2">
  <%= f.label :biography, "Biography", :class => 'name' %>
  </div>
  <div class="col-sm-12 col-md-10">
  <%= f.text_area :biography, rows: 5, cols: 30, :class => 'user-bio form' %>
  </div>
  </div>
  </div>
  <br>
  <hr>
  <div style="margin-right: 10px;">
    <%= link_to "Change your password", edit_user_registration_path %>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-4">
    <%= f.submit "Save", :class => 'btn btn-default btn-block' %>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 destroy-acct">
    <%= button_to "Deactivate my account", registration_path(resource_name), data: { confirm: "Are you sure you want to deactive your account? Your profile, all your information, and all projects will be deleted."}, method: :delete %>
  </div>
  </div>










