<% @page_title = "#{@user.first_name}'s Profile" %>

<div class="container css-2s1366">
<div class="container profile-container">
  <div class="row">
    <div class="col-sm-4">

  <h3 style="margin-top: 20px">
  <span>
        <% if @user.profile_picture? %>
            <span id="profile-picture"><%= cl_image_tag(@user.profile_picture, :transformation=>[{:width=>100, :height=>100, :gravity=>"face", :responsive => "true", :dpr =>"auto"}, {:width=>100, :crop=>"scale"}], :secure => 'true')%></span>
        <% else %>
            <span id="profile-picture"><a><img src="http://res.cloudinary.com/anothervu/image/upload/v1524770755/ptamql7tybhqhteeiibq.jpg" class="default-project-show"/></a></span>
        <% end %>

        <% if @user == current_user %>
      <%= "#{@user.first_name} #{@user.last_name}" %>
      <%= link_to edit_user_path(current_user) do %>
      <h5 style=" display: inline; opacity: .6;" title="Edit Your Profile"><%= fa_icon "edit" %></h5>
      <% end %>
      <% else %>
      <span><%= "#{@user.first_name} #{@user.last_name}" %></span>
      <% end %>
        </span>
  </h3>
    <div class="row">
    <% if  @user.email_show == false %>
      <p class="col-sm-12" id="emailink"><%= mail_to @user.email %></p>
    <% end %>
    <p class="col-sm-12" id="emailink"><%= link_to "#{@user.website}", "#{@user.website}", :target => "_blank"%></p>
    <p class="col-sm-12"><%= @user.phone_number %></p>
  </div>
  <hr>
  </div>
    <div class="col-sm-8" style="margin-top: 20px">
      <p id="commentuser">Bio</p>
      <p style="text-indent: 1em;"><%= @user.biography %></p>
  </div>
  </div>
</div>

<div class="container css-2s1366">
  <h3 class="header col-sm-12"></h3>
  <div class="project-container fix-stretch">
    <% @user.projects.each do |project| %>
      <div class="col-sm-7 col-md-5 col-lg-4" data-id="<%= project.id %>">
        <div>
          <%= link_to project_path(project) do %>
          <% if project.uploads.first.nil? %>
              <a><img src="http://res.cloudinary.com/anothervu/image/upload/v1522110588/o5yg08mg8vrdgk3b3mhw.jpg" class="default-project-show"/></a>
          <% else %>
              <%= cl_image_tag project.uploads.first.image_url, width: 300, height: 200, dpr: :auto, responsive: :true, crop: :fill, secure: :true %>
          <% end %>
          <% end %>
        </div>
        <div>
      <%= link_to "#{project.name}", project_path(project) %>
    </div>
      </div>
    <% end %>

  </div>
</div>
