<% @page_title = "#{@user.first_name}'s Profile" %>

<div class="container css-2s1366">
<div class="container profile-container">
  <div class="row">


    <div class="col-sm-4">
  <h3
  <span>
        <% if @user == current_user %>
      <%= link_to edit_user_path(current_user) do %>
    <span title="Edit Your Profile"><%= fa_icon "pencil" %></span>
<% end %>
      <%= "#{@user.first_name} #{@user.last_name}" %>

      <% else %>
      <span><%= "#{@user.first_name} #{@user.last_name}"%></span>
      <% end %>
        </span>


  </h3>
  <div class="row">
    <p class="col-sm-12"><%= @user.phone_number %></p>
    <p class="col-sm-12"><%= @user.email %></p>
  </div>
  <hr>
  <div class="row">
    <p class="col-sm-12"><%= @user.biography %></p>
  </div>
  <hr>
  </div>
  </div>
  </div>
</div>
  <br>

<div class="container css-2s1366">
  <h3 class="header col-sm-12"></h3>
  <div class="project-container">
    <% @user.projects.each do |project| %>
      <div class="col-xs-12 col-sm-6 col-md-4" data-id="<%= project.id %>">
        <div>
          <%= link_to project_path(project) do %>
          <%= cl_image_tag project.uploads.first.image, width: :auto, dpr: :auto, responsive: :true, crop: :fill, secure: :true %>
          <% end %>
        </div>
        <div>
      <%= link_to "#{project.name}", project_path(project) %>
    </div>
      </div>
    <% end %>

  </div>
</div>

