<% @page_title = "Feed" %>
<%= cl_client_hints_meta_tag %>
<% content_for :footer_javascript do  %>
  <%= javascript_include_tag "pages/feed" %>
<% end %>

<div class="container" id="feed" data-hearts-url="<%= hearts_path %>">
  <h1>Feed</h1>

  <% @projects.each_slice(3) do |project_group|%>
    <div class="row feed-row">
      <% project_group.each do |project| %>
        <div class="col-xs-4 project" data-id="<%= project.id %>">
          <% if project.uploads.any? %>
            <%# TODO: look into client hints width: :auto, client_hints: true, crop: :scale %>
            <%= cl_image_tag project.uploads.first.image_url, width: 300, height: 300, crop: :crop %>

            <% if project.heart_id.present? %>
              <span class="heart favorited" data-heart-id="<%= project.heart_id %>">
                <i class="fa fa-heart"></i>
              </span>
            <% else %>
              <span class="heart">
                <i class="fa fa-heart-o"></i>
              </span>
            <% end %>

            <div>
              <%= link_to "#{project.name}", project_path(project) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= paginate @projects, window: 2, params: {controller: 'pages', action: 'feed'} %>
</div>
