<% @page_title = "Feed" %>
<%= cl_client_hints_meta_tag %>
<% content_for :footer_javascript do  %>
  <%= javascript_include_tag "pages/feed" %>
<% end %>

<div id="feed" class="page-container css-2s1366" data-hearts-url="<%= hearts_path %>">
  <div class="jumbotron" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.0) 0%, rgba(0,36,61,0.0) 0%), url('<%= asset_path('NelsonAtkinsMuseumArt_010') %>')">
      <div class="container">
        <h1>AnotherVU</h1>
      </div>
  </div>


  <div class="row feed-row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-6 col-md-4 project" data-id="<%= project.id %>">
        <div class="content">
          <%= link_to project_path(project) do %>
        <div class="content-overlay">
        </div>
            <div class="cover">
            <%= cl_image_tag project.uploads.first.image_url, :crop=>:fill %>
            </div>
          <% end %>
          <%= link_to project_path(project) do %>
          <div class="content-details fadeIn-bottom">
              <h3 class="content-title">
              <%= "#{project.name}" %>
              </h3>
              <p class="content-text">
              <%= "#{project.designer}" %>
              </p>
          </div>
          <% end %>
        </div>

          <% if project.heart_id.present? %>
          <span class="heart favorited" data-heart-id="<%= project.heart_id %>">
            <i class="fa fa-heart"></i>
          </span>
        <% else %>
          <span class="heart">
            <i class="fa fa-heart-o"></i>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @projects.blank? %>
  <h4>There are no projects containing the term <%= params[:search] %>.</h4>
  <% end %>

  <div class="row">
    <%= paginate @projects, window: 2, params: {controller: 'pages', action: 'feed'} %>
  </div>
</div>
