<% @page_title = "Feed" %>
<%= cl_client_hints_meta_tag %>
<% content_for :footer_javascript do  %>
  <%= javascript_include_tag "pages/feed" %>
<% end %>

<div class="container" id="feed" data-hearts-url="<%= hearts_path %>">
  <h1>Feed</h1>
  <% @uploads.each_slice(3) do |upload_group|%>
    <div class="row feed-row">
      <% upload_group.each do |upload| %>
        <div class="col-xs-4 upload" data-id="<%= upload.id %>">
          <%# TODO: look into client hints width: :auto, client_hints: true, crop: :scale %>
          <%= cl_image_tag upload.image_url, width: 300, height: 300, crop: :crop %>

          <% if upload.heart_id.present? %>
            <span class="heart favorited" data-heart-id="<%= upload.heart_id %>">
              <i class="fa fa-heart"></i>
            </span>
          <% else %>
            <span class="heart">
              <i class="fa fa-heart-o"></i>
            </span>
          <% end %>

          <div><%= upload.name %></div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= paginate @uploads, window: 2, params: {controller: 'pages', action: 'feed'} %>
</div>
