<% @page_title = "Home" %>
<% content_for :footer_javascript do  %>
  <%= javascript_include_tag "pages/feed" %>
<% end %>

<div class="jumbotron css-2s1366">
    <div class="overlay"></div>
    <video id="video-background" preload muted autoplay loop>
        <source src="assets/oculus.mp4" type="video/mp4">
        <source src="assets/oculus.ogv" type="video/ogv">
    </video>
    <div class="container">
      <h1>What's the story in architecture and design news? <br><br></h1>
      <h1 id="brand"><strong>You are.</strong></h1>
    </div>
</div>

<div class="container css-2s1366" id="photogrid">
  <div class="row feed-row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-6 col-md-4 project" data-id="<%= project.id %>">
        <div class="content">
          <%= link_to project_path(project) do %>
        <div class="content-overlay">
        </div>
            <div class="cover">
            <%= cl_image_tag project.uploads.first.image_url, :secure => true, :crop=>:fill %>
            </div>
          <% end %>
          <%= link_to project_path(project) do %>
          <div class="content-details fadeIn-bottom">
              <h3 class="content-title">
              <%= "#{project.name}" %>
              </h3>
              <p class="content-text">
              <%= "#{project.designer}" %>
              </p>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>
