<%= form_for @project do |f| %>
  <div class="edit-profile-form">
  <div class="row edit-profile">
  <%= f.label :name, "Title", :class => 'col-sm-12 col-md-12 name' %>
  </div>
  <div class="row">
  <%= f.text_field :name, :class => 'user-bio col-sm-10 col-md-6 form'%>
  </div>
  <br>
  <div class="row">
  <%= f.label :description, "Description", :class => 'col-sm-12 col-md-12 name' %>

  <br>

  <%= f.text_area :description, rows: 3, cols: 30, :class => 'user-bio col-sm-10 col-md-6 form' %>
  </div>
  </div>

  <br>
  <div class="row">
  <%= f.submit "Save", :class => 'btn btn-default col-xs-2' %>
<% end %>
  </div>
