<% @page_title = "#{@project.name}" %>
<% content_for :footer_javascript do  %>
  <%= javascript_include_tag "pages/project" %>
<% end %>

<div class="container css-2s1366">
  <div id="showProject" class="page-container profile-container"
  data-project-id="<%= @project.id %>" data-hearts-url="<%= hearts_path %>">

    <div class="row">
      <div class="col-sm-4">
    <h3 id="project-name">
      <% if @creator == current_user %>
      <%= "#{@project.name}" %>
      <%= link_to edit_project_path(@project) do %>
        <h5 style=" display: inline; opacity: .6;" title="Edit Your Project"><%= fa_icon "edit" %></h5>
      <% end %>

      <% else %>
      <%= @project.name %>
      <% end %>
    </h3>
    <h5><%= @project.location %></h5>
    <h4>
    <div>
      <div class="row">
        <div class= "col-xs-3 col-sm-6 col-md-6">
          <% if @project.category == "Architecture"%>
              <h4>Architect: </h4>
          <% else %>
              <h4>Designer: </h4>
          <% end %>
        </div>
        <div class="col-xs-9  col-sm-6 col-md-6">
            <h4><%= @project.designer  %><h4>
        </div>
          </div>
        </h4>


    <h4>
      <% if @heart.present? %>
          <span class="project-heart favorited" data-heart-id="<%= @heart.id %>">
      <%= @project.hearts.count %>
            <i class="fa fa-heart" title="Unlike This Project"></i>
          </span>
      <% else %>
          <span class="project-heart">
            <i class="fa fa-heart-o" title="Like This Project"></i>
          </span>
      <% end %>
    </h4>
      <hr>
      <p>Category: <%= @project.category %></p>
      <p><%= @project.description %></p>
    <hr>
    <div>Uploaded By: <%= link_to "#{@creator.first_name} #{@creator.last_name}", user_path(@creator) %>
    </div>
    <hr>
    <%= social_share_button_tag(@project.name, :allow_sites => %w(email twitter facebook google_plus reddit tumblr linkedin)) %>
    <div class="row">
    <div class="col-sm-12 col-md-12">
      <%= render 'comments/comment' %>
    </div>
    </div>
      </div>
      <div class="col-xs-12 col-sm-11 col-md-8">
      <div id="projectsrow" class="row project-upload-row">
      <% @uploads.each do |upload| %>
        <div class="col-xs-12 upload" data-id="<%= upload.id %>">
          <%= cl_image_tag upload.image_url, width: :auto, height: 350, dpr: :auto, responsive: :true, crop: :scale, responsive_placeholder: "blank" %>
          <% if @creator == current_user %>
            <%= link_to project_upload_path(@project, upload), method: :delete, confirm: 'Delete?', class: 'link-delete', 'data-message' => 'Are you sure?', remote: true do %>
              <p id="delete">Delete Photo</p>

            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
      <% if @creator = current_user && @project.uploads == [] %>
        <h3><%= link_to "Add Photos", new_project_upload_path(@project) %></h3>
      <% end %>
    </div>
     </div>




  </div>
</div>

