<% @page_title = "#{@project.name}" %>
<% content_for :footer_javascript do  %>
  <%= javascript_include_tag "pages/project" %>
<% end %>

<div class="container">
  <div id="showProject" class="page-container" data-project-id="<%= @project.id %>" data-hearts-url="<%= hearts_path %>">
    <h3>
      <span><%= @project.name %></span>
      <div class="row project-upload-row">
      <% @uploads.each do |upload| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 upload" data-id="<%= upload.id %>">
          <%= image_tag (upload.image_url, width: :auto, height: 200, dpr: :auto, responsive: :true, crop: :scale, responsive_placeholder: "blank") %>
          <% if @creator == current_user %>
            <%= link_to project_upload_path(@project, upload), method: :delete, confirm: 'Delete?', class: 'link-delete', 'data-message' => 'Are you sure?', remote: true do %>
              <i class="fa fa-trash-o"></i>
              Remove
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
      <span>
        <% if @heart.present? %>
          <span class="project-heart favorited" data-heart-id="<%= @heart.id %>">
            <i class="fa fa-heart"></i>
          </span>
        <% else %>
          <span class="project-heart">
            <i class="fa fa-heart-o"></i>
          </span>
        <% end %>
      </span>
    </h3>
      <div class= "col-md-4">Creator: </div>
      <div class= "col-md-4"><%= link_to "#{@creator.first_name} #{@creator.last_name}", user_path(@creator) %></div>
    <p><%= @project.description %></p>

    <% if @creator == current_user %>
      <div><%= link_to "Add Image", new_project_upload_path(@project) %></div>
    <% end %>
  </div>
</div>
