<% @page_title = "New Content" %>

<div class="container">
  <h3>New Content</h1>

  <%= form_for @upload, url: {action: :create} do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    <%= f.hidden_field :image_cache %>
    <%= f.file_field :image %>
    <%= f.submit 'Create' %>
  <% end %>

</div>
